*{
    margin: 0;
}
/* *는 기본값 설정 */
html{
    font-size: 10px;
}

body{
    background: white;
}

.quick{
    border: 0px solid red;
    width:100px;
    height:20px;
    margin: 0 auto;
    position: absolute;
    top: 200px; right:10px;
}

.quick div{
    width:100%; height: 40px;
    border: 1px solid #ccc;
    line-height: 40px;
    text-indent: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.quick div:hover{
    background: goldenrod;
    color: white;
    margin-left: 0px;
}


.popup{
    width:200px; 
    /* height: 350px; */
    border: 1px solid #ccc;
    position: absolute;
    top:20px; left: 300px;
    background: white;
}

/* position: 위치 지정
    1. absolute: (부모위치에서) 절대 위치 지정
    2. relative: 상대 위치 지정
    3. fixed   : 고정 위치 지정

   방향: left. right, top, bottom 사용
   -> left, top 기준
     */

.popup .titleBox{
    border: 0px solid red;
    display: flex;
    background: black;
    color: white;
}

.popup .titleBox p{
    height: 50px;
    border: 0px solid blue;
    line-height: 50px;
}

.popup .titleBox .popupTitle{
    width:80%;
    text-indent: 10px;
}

.popup .titleBox .popupClose{
    width:20%;
    text-align: center;
    cursor: pointer;
}

.popup .popupBody{
    /* height: 200px; */
    border: 0px solid green;

}

/* body 높이 설정안하면 쓴 만큼 계속 높이 늘어남 */

.popup .popupBody p{
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    
}

.popup .popupBody p:first-child{
    color: red;
    font-size: 1.2rem;
    font-family: 궁서체;
}

/* font-family: 글씨체변경 */

.popup .popupFooter{
    height:100px;
    background: darkblue;
    margin-top: 30px;
    color:white;
    border: 1px solid darkblue;
}

/* .popup .popupFooter p{
    border: 1px solid red;
    position:relative;
    top:30px;
    text-align: center;
} */

    .popup .popupFooter p{
        border: 0px solid red;
        height: 30px;
        text-align: center;
    }

    .popup .popupFooter p:first-child{
        margin-top:20px;
        line-height:40px;
    }

    .popup .popupFooter p:last-child{
        line-height:20px;
    }

.menu{
    width:500px; height: 50px;
    border: 1px solid #ccc;
    margin: 0px auto;
    margin-top: 10px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* font-size: 15px; */
    /* line-height: 50px; */
    /* text-align: center; */
}

.menu div{
    border: 1px solid #ccc;
    width:20%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.menu div:hover{
    background: #f2f2f2;
}

.menu div p{
    border: 0px solid red;
    width: 100%; height:100%;
}

.menu div:hover div{
    display: block; 
}

.menu div:nth-child(2):hover div{
    margin-left: -100%;
}

.menu div:nth-child(3):hover div{
    margin-left: -200%;
}
.menu div:nth-child(4):hover div{
    margin-left: -300%;
}
.menu div:nth-child(5):hover div{
    margin-left: -400%;
}

.menu div div{
    border: 1px solid green;
    width: 500%;
    display: none;
    border-radius: 10px;
}

/* medu div의 너비가 상속되어 자동값 20%가 됨
    -> div div에서 다시 너비설정해줘야함
     */

.search{
    width: 500px; height:50px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.search div{
    height:50px;
    border: 0px solid red;
}

.search div:first-child{
    width:80%;
}
.search div:last-child{
    width:20%;
    background: black;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.search div input{
    display: block;
    width:100%; height: 95%;
    border: none;
    text-indent: 20px;
    font-size: 1.2rem;
}


.title{
    width: 500px; height:70px;
    border:1px solid black;
    border-radius: 20px;
    margin: 100px auto;
    font-size: 2rem;
    line-height: 70px;
    /* 1rem = html 기본px값 (기본16)
        html 기본 px값 변경 시 같이바뀜
         */
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.title:hover{
    background:rgb(32, 135, 195);
    color: #fff;
}

.placeBox{
    width:500px; height:120px;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;

    /* display: 화면에 표시 설정 명령어
        display: flex; // 옆으로배치
        display: none; // 보이지 않게
        display: block; // block요소로 변경
        display: inline; // inline요소로 변경
        display: inline-block; // 형태는 inline, 성격은 block요소로 변경  
        */

    /* display:flex; // 정렬
    flex-wrap: wrap; // 화면에 넘치면 줄바꿈
    justify-content: space-between; // 첫자식 왼쪽
                                       마지막자식 오른쪽
                                       중간자식들 알아서 정렬 
        */

}

/* .placeBox div{ 

    width: 100px; height: 80px;
    border: 1px solid red;
    float: left;
    font-size: 3rem;
    text-align: center;
    line-height: 80px;
} */

/* 자식div: class명시후 div */

/* block요소: 한 줄에 하나의 태그만 올 수 있음 (div, p, ul, li..)
   -> float(배치명령어)으로 한 줄에 여러 태그 올 수 있음

   * float: 배치명령어
    - block요소를 옆으로 정렬시킴
    - 한 줄에 여러 태그 올 수 있음 (inline형태)
    - 레이어 개념을 가짐
   
   inline요소: 한 줄에 여러 개의 태그가 올 수 o (span, img) 
   */

/* .placeBox div:last-child{
    float: right;
}

.placeBox div:nth-child(2),
.placeBox div:nth-child(3){
    margin-left: 33px;
} */

/* 맨 마지막 div 오른쪽 보내고 나머지 마진조절로 간격 맞추기 */

/* .placeBox p{
    width:100px; height: 17px;
    border: 1px solid green;
    float: left;
} */

.placeBox div{
    width: 120px; height:20px;
    border: 0px solid green;
    line-height: 20px;
    text-align: center;
    
}

.placeBox .icon{
    height: 80px;
    font-size: 5rem;
    line-height: 80px;
    text-align: center;
}

.placeBox div:nth-child(1):hover{
    color: blue;
}
.placeBox div:nth-child(2):hover{
    color: green;
}
.placeBox div:nth-child(3):hover{
    color: red;
}
.placeBox div:nth-child(4):hover{
    color: yellow;
}

.big{
    width:500px; height:300px;
    border: 1px solid pink;
    margin: 50px auto;
    border-radius: 20px;
    overflow: hidden;
}

.big img{
    width:100%; height:100%;
    border-radius: 20px;
    transition: 0.5s;
}

.big img:hover{
    transform: scale(1.2);
}
/* border-radius 둘다 적용시켜야 함 */

.small_imgs{
    width:500px; height:80px;
    border: 0px solid red;
    margin: 20px auto; 
    display: flex;
    font-size: 2rem;
    justify-content: space-between;
}

.small_imgs div{
    width:100px;
    border: 0px solid #ccc;
}

.small_imgs div img{
    width:100%; height:100%;
    border-radius:  5px;
}

.small_imgs div:hover{
    cursor:pointer;
}