.sec5Box{
    width: 80%;
    margin: 20px auto;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
}

.sec5Box li{
    position: relative;
    top: 0; left: 0;
    width: 18%; height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.sec5Box li div{
    position: absolute;
    top: 100%; left: 0;
    width: 100%; height: 40px;
    line-height: 40px;
    border: 0px solid #ccc;
    background: #cccccc61;
    text-align: center;
    color: white;    
    transition: 2s;
}

.sec5Box li:hover div{
    top: 80%;
}