*{
    margin: 0;  padding: 0;
    box-sizing: border-box;
    /* border-box: padding으로 늘어난 크기를 테두리에 다시 맞춤 */
    list-style: none;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

a{ color: black;}

.title{
    font-size: 1.5rem;
    line-height: 70px;
}

.wrap{
    width: 100%; height: 2000px;
    border: 0px solid black;
}

.wrap nav{
    width: 100%; height: 50px;
    border: 0px solid blue;
    display: flex;
    justify-content: space-between;
}

.wrap nav div{
    flex: 1; height: 50px;
    /* flex:1 // 너비설정없이 태그 균등분배 */
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.wrap nav div:hover{
    color: #aba9a9;
}

.wrap .sec{
    width: 100%;
    margin-top: 30px;
    border: 0px solid black;
    display: flex;
}

/* 경제 메뉴를 클릭하면 보여지는 Section(#sec1) */
#sec1{
    display: none;
}

#sec1 .sec1Bg{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: black;
    display: none;
}

#sec1 .sec1Bg video{
    width: 100%;
    /* 이미지와 달리 비디오는 너비만 설정
        높이까지 설정하면 찌그러짐 */
    min-width: 1500px;
    /* 최소너비보다 작아지면 동영상 크기도 작아짐 */
}


#sec1 .sec1Bg .sec1Bg_skip{
    position: absolute;
    bottom: 50px; left: 50%;
    color: white;
}

/* 문화 메뉴를 클릭하면 보여지는 Section(#sec2) */
#sec2{
    display: none;
}

#sec2 .sec2Big{
    position: relative;
    top: 0; left: 0;
    width: 1000px; height: 500px;
    border: 1px solid black;
    margin: 20px auto;
    overflow: hidden;
}

/* class 이름이 다른곳에 쓰였어도 css에서 부모태그를 지정해줬으면 중복되도 서로 다른 img5 인식*/
#sec2 .sec2Big .Big_img5{   
    position: absolute;
    top: 0; left: 0;
    width: 5000px; height: 100%;
    display: flex;
    justify-content: space-between; 
}

#sec2 .sec2Big .Big_img5 li{
    width: 1000px; height: 100%;
    border: 0px solid red;
}

#sec2 .btn{
    position: relative;
    top: 0; left: 0;
    z-index: 10;
    width: 1100px; height: 50px;
    border: 0px solid green;
    margin: -300px auto;
    display: flex;
    justify-content: space-between;
}

#sec2 .btn li{
    width: 50px; height: 100%;
    text-align: center;
    line-height: 50px;
    border: 1px solid green;
    cursor: pointer;
}

/* 창비.com 참조 디자인 */

#sec2 .sec2Box1{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 550px auto;
}

#sec2 .sec2Box1 li{
    width: 50%; height: 500px;
    border: 1px solid green;
}

#sec2 .sec2Box1 li div{
    font-family: hy견고딕;
    font-weight: bold;
    font-size: 2rem;
}

/* nth-child: div p 섞여있어도 순서는 같이 적용 */
#sec2 .sec2Box1 li p:nth-child(3){
    margin-top: 50px;
}

#sec2 .sec2Box1 li p:nth-child(6){
    margin-top: 50px;
}

#sec2 .sec2Box1 li div img{
    width: 200px;
}

#sec2 .sec2Box1 li .sec2right{
    text-align: right;
}

/* 점심 메뉴를 클릭하면 보여지는 Section(#sec3) */

#sec3{
    display: none;
}

.layout{
    width: 1200px; height: 400px;
    padding: 30px;
    margin: 50px auto;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}

.layout .wrap3{
    width: 200px; height: 200px;
    border: 0px solid black;
}

.layout .wrap3 li{
    width: 100%; height: 50px;  
    border: 0px solid blue;
    text-indent: 10px;
    line-height: 50px;
    border-radius: 15px;
}

/* 한식, 분식, 중식 ,양식 선택한 음식 그림과 가격 표시 */
.layout .sec3_imgText{
    width: 300px; height: 300px;
    border: 2px solid green;
    border-radius: 15px;
}

.layout .sec3_imgText li{
    text-align: center;
}

.layout .sec3_imgText li .sec3_img{
    height: 250px;
}

.layout .sec3_imgText li .sec3_img img{
    width: 80%; height: 200px;
    margin-top: 25px;
}

.layout .sec3_imgText li .sec3_text{
    height: 50px;
    line-height: 50px;
}


.layout .combo_box{
    /* position: absolute;
    top: 50px; left: 77%; */
    border: 0px solid black;;
    width: 150px;
}

.layout .combo_box select{
    display: block;
    width: 100%; height: 40px;
}

.layout .combo_box select option{
    width: 100%;
    font-size: 1rem;
}

.layout .sec3_btn{
    margin-top: -5px;    
    border: 0px solid black;
}

.layout .sec3_btn button{
    width: 150px; height: 50px;
    margin: 0 auto;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.layout .sec3_btn button:hover{
    background: blue;
    color: white;
}



/* 모임 메뉴를 클릭하면 보여지는 Section(#sec4) */
#sec4{
    display: none;
}

/* 갤러리 메뉴를 클릭하면 보여지는 Section(#sec5) */
#sec5{
    display: none;
}

#sec5 .sec5Box{
    width: 80%;
    margin: 20px auto;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
}

#sec5 .sec5Box li{
    position: relative;
    top: 0; left: 0;
    width: 18%; height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
}

#sec5 .sec5Box li div{
    position: absolute;
    top: 100%; left: 0;
    width: 100%; height: 40px;
    line-height: 40px;
    border: 0px solid #ccc;
    background: #cccccc61;
    text-align: center;
    color: white;    
    transition: 2s;
}

#sec5 .sec5Box li:hover div{
    top: 80%;
}

/* 효성 메뉴를 클릭하면 보여지는 Section(#sec6) */

#sec6{

}

#sec6 .sec6_box1{
    width: 1200px; height: 300px;
    border: 1px solid black;    
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

#sec6 .sec6_box1 div{
    position: relative;
    top: 0; left: 0;
    width: 250px; height: 300px;
    border: 1px solid red;
}

/*
    // j-query에서 실현
#sec6 .sec6_box1 div:hover .sec6_box1_child{
    display: block;
}
*/

#sec6 .sec6_box1 div .sec6_box1_img{
    width: 200px; height: 200px;
    border: 1px solid green;
    margin: 50px auto;
    background: url(../img/img1.jpg);
    background-size: 100% 100%;
}

#sec6 .sec6_box1 div .sec6_box1_child{
    position: absolute;
    top: 0px; left: 25px;
    width: 200px; height: 200px;
    border: 1px solid green;
    margin: 50px auto;
    background: blue;
    display: none;
}

#sec6 .sec6_box1 div .sec6_box1_child p{
    color: white;
    text-align: center;
}

#sec6 .sec6_box1 div .sec6_box1_child p:nth-child(1){
    margin-top: 50px;
}




/* 홈으로 메뉴를 클릭하면 보여지는 Section(#sec0) */
.wrap .sec> div{
    width: 10%;
    border: 1px solid orange;
    position: relative;
    top: 0; left: 0;
}
/* >: 자식선택자 바로 하위 태그에만 설정적용 */

.wrap .sec div p{
    width: 100%; height: 50px;
    line-height: 50px;
    text-align: center;
}

.wrap .sec .box1 .sleepBox{
    position: absolute;
    top: 50px; left: 0;
    width: 1000%; 
    border: 3px solid blue;
}

.wrap .sec .box1{
    width: 10%;
}

.wrap .sec .box1 .sleepBox .big{
    position: relative;
    top: 0; left: 0;
    width: 1000px;
    height: 500px;
    border: 0px solid black;
    overflow: hidden;
}

.wrap .sec .box1 .sleepBox .big .img5{
    position: absolute;
    top: 0; left: 0;
    width: 6000px;
    height: 100%;
    border: 0px solid green;
    display: flex;
    animation: img5_ani 20s linear infinite;
}

@keyframes img5_ani{
    0% {left: 0px;}
    2% {left: -1000px;}
    20% {left: -1000px;}
    22% {left: -2000px;}
    40% {left: -2000px;}
    42% {left: -3000px;}
    60% {left: -3000px;}
    62% {left: -4000px;}
    80% {left: -4000px;}
    82% {left: -5000px;}
    100% {left: -5000px;}
}

/* animation 동작하기 위해서는 position 위치 설정 필수 */

.wrap .sec .box1 .sleepBox .big .img5 li{
    width: 1000px; height: 100%;
    border: 3px solid red;
    font-size: 3rem;
}

.wrap .sec .box1 .sleepBox .big .img5 li div{
    width: 700px;
    text-align: right;
    margin: 50px auto;
    font-size: 2rem;
}

.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(1){
    background: url(../img/강릉교통2.png);
    background-size: 100% 100%;
}

.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(2){
    background: url(../img/강릉관광지1.webp);
    background-size: 100% 100%;
}
.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(3){
    background: url(../img/강릉관광지2.webp);
    background-size: 100% 100%;
}
.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(4){
    background: url(../img/강릉숙소2.jpg);
    background-size: 100% 100%;
}
.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(5){
    background: url(../img/강릉카페3.jpg);
    background-size: 100% 100%;
}
.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(6){
    background: url(../img/강릉교통2.png);
    background-size: 100% 100%;
}

.wrap .sec .box2 .bus{
    width: 1000%; 
    border: 1px solid green;
    /* margin-left: -100%;*/
    position: absolute;
    top: 50px; left: -101.5%;
}

.wrap .sec .box1:hover div{
    display: block;
}

.wrap .sec .box{
    background: white;
    /* display: none; */
    height: 700px;
    padding: 30px;
    /* padding: 들여쓰기 기능을 가짐
               but 박스 크기도 같이 늘어남
               -> 박스크기 지정으로 크기변동 막을 수 있음 */
}

/* .wrap .sec .box1{
    display: block;
}

.wrap .sec .box2{
    display: block;
} */

.wrap .sec .box2{

}

.wrap .sec .box2 .box2Title{
    width: 80%; height:  50px;
    background: black;
    display: flex;
    justify-content: center;
    line-height: 50px;
    text-indent: 50px;
}

.wrap .sec .box2 .box2Title div{
    color: white;
}

.wrap .sec .box2 .box2Title small{
    color: red;
}

.wrap .sec .box2 .both{
    position: relative;
    top: 0; left: 0;
    margin: 30px auto;
    width: 80%; height: 70px;
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
}

.wrap .sec .box2 .both div:nth-child(1){
    width: 49%;
    background: pink;
}

.wrap .sec .box2 .both div:nth-child(2){
    width: 49%;
    background: plum;
}

.wrap .sec .box2 .both .one{
    position: absolute;
    top: -15px; left: 40%;
    width: 100px; height: 100px;
    background: purple;
    border-radius: 100%;
    /* 원 안에 배경 그림넣기 */
    background: url(../img/강릉관광지3.webp);
    background-size: 100% 100%;
}

.sec .box2 .box2Img5{
    width: 80%; height: 300px;
    border: 0px solid red;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.sec .box2 .box2Img5 ul{
    width: 18%; height: 100%;
    border: 0px solid black;
}

.sec .box2 .box2Img5 ul li{
    width: 100%; height: 30px;
    border: 0px solid blue;
    line-height: 30px;
    text-indent: 20px;
    overflow: hidden;
}

.sec .box2 .box2Img5 ul li:nth-child(1){
    height: 180px;
    text-align: center;
    text-indent: 0px;   
    border-radius: 100%;
}

.sec .box2 .box2Img5 ul li img{
    width: 90%; height: 90%;
    margin-top: 10px;
    border-radius: 100%;
    transition: 0.5s;
}

.sec .box2 .box2Img5 ul li img:hover{
    transform: scale(1.5);
}

/* 하단 그림배너 */

.wrap .smallImg5{
    position: absolute;
    top: 950px; left: 50%;
    transform: translateX(-50%);
    width: 600px; height: 150px;
    border: 10px solid teal;
    display: flex;
    justify-content: space-between;
}

.wrap .smallImg5 li{
    width: 100%; height: 100%;
}

.wrap .smallImg5 li img{
    width: 100%; height: 100%;
}

/* 전체화면을 검정으로 하고
    큰 그림이 나오는 아이디 */
#full{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

#fullClose{
    position: absolute;
    top: 100px; right: 100px;
    width: 50px; height: 50px;
    border: 1px solid black;
}

.fullImg{
    position: absolute;
    top: 100px; left: 100px;
    width: 500px; height: 200px;
    border: 1px solid #ccc;
}

.fullImg img{
    width: 100%; height: 100%;
}


section{
    display: none;
}

#sec0{
    display: none;
}

#sec1{
    display: none;
}

#sec2{
    display: none;
}

#sec3{
    display: block;
}

#sec4{
    display: none;
}

#sec5{
    display: none;
}

#sec6{
    display: none;
}

#smallImg5{
    display: none;
}