*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a { 
    color: black;
}

.disp{
    width: 100px; height: 50px;
    font-size: 2rem;
    border: 1px solid black;
    text-align: center;
}

.ok, .sub{
    width: 100px; height: 50px;
    border: 1px solid black;
    background: #ccc;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.ok:hover{
    background: blue;
    color: white;
}

#pic{
    width: 200px; height: 200px;
}