table{
    width: 1200px;
    /* margin-left: 100px; */
    /* margin-top: 100px; */
    margin: 50px auto;                 /*  margin: 상하 marign auto: 상하좌우 */
    border: 0px solid red;
}
table tr{

}
table tr td{
    height: 70px;
    border: 0px solid blue;
    text-align: center;                /* 글자정렬 */
    font-size: 25px;                 /* 기본 16px */
}
.imgTable tr td{
    height: 200px;
    font-size: 20px;
}
.imgTable tr td img{
    width: 230px;
    height: 150px;
}