/* 문화 메뉴를 클릭하면 보여지는 Section(#sec2) */
#sec2{
    display: none;
}

#sec2 .sec2Big{
    position: relative;
    top: 0; left: 0;
    width: 1000px; height: 500px;
    border: 1px solid black;
    margin: 20px auto;
    overflow: hidden;
}

/* class 이름이 다른곳에 쓰였어도 css에서 부모태그를 지정해줬으면 중복되도 서로 다른 img5 인식*/
#sec2 .sec2Big .Big_img5{   
    position: absolute;
    top: 0; left: 0;
    width: 5000px; height: 100%;
    display: flex;
    justify-content: space-between; 
}

#sec2 .sec2Big .Big_img5 li{
    width: 1000px; height: 100%;
    border: 0px solid red;
}

#sec2 .btn{
    position: relative;
    top: 0; left: 0;
    z-index: 10;
    width: 1100px; height: 50px;
    border: 0px solid green;
    margin: -300px auto;
    display: flex;
    justify-content: space-between;
}

#sec2 .btn li{
    width: 50px; height: 100%;
    text-align: center;
    line-height: 50px;
    border: 1px solid green;
    cursor: pointer;
}

/* 창비.com 참조 디자인 */

#sec2 .sec2Box1{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 550px auto;
}

#sec2 .sec2Box1 li{
    width: 50%; height: 500px;
    border: 1px solid green;
}

#sec2 .sec2Box1 li div{
    font-family: hy견고딕;
    font-weight: bold;
    font-size: 2rem;
}

/* nth-child: div p 섞여있어도 순서는 같이 적용 */
#sec2 .sec2Box1 li p:nth-child(3){
    margin-top: 50px;
}

#sec2 .sec2Box1 li p:nth-child(6){
    margin-top: 50px;
}

#sec2 .sec2Box1 li div img{
    width: 200px;
}

#sec2 .sec2Box1 li .sec2right{
    text-align: right;
}