*{
    margin: 0; padding: 0;
    box-sizing: border-box;

}

a{
    color: black;
}

.box1{
    width: 1000px; height: 500px;
    border: 1px solid black;
    margin: 50px auto;
}

.ok{
    width: 100px; height: 50px;
    border: 1px solid black;
    
}