*{
    margin: 0;
    padding: 0;
    list-style: none;
}

ol{
    border: 1px solid black;
}

ol li{
    border: 1px solid red;
    width: 200px;
    list-style: none;
}

/* li: block요소를 가짐 */

ul{
    border: 1px solid black;
}

ul li{
    border: 1px solid red;
    width: 200px;
    list-style: none;
}

/* ol: 순서있는 목록 태그, ul: 순서없는 목록 태그 
   -> ol. ul 기본적으로 들여쓰기 적용됨 */