@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimGaeulsopungB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimGaeulsopungB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.back{
    position: fixed;
    top: 0; left: 0;
    z-index: 99;    
    width: 100%; height: 100%;
    background: teal;
    background: url(../img/img기아자동차.jpg);
    background-size: 100% 100%;
    color: white;
}

.skip{
    position: absolute;
    bottom: 100px; left:50%;
    transform: translate(-50%);
    /* 위치 조정 기능 - 자신의 크기 %만큼 이동 */
    width: 100px; height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
}

.skip p{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    transition: all 0.5s;
}

.skip:hover p{
    top: -100%;
}

.skip .skip2{
    position: absolute;
    top: 100%; left: 0 ;
    width: 100%; height: 100%;
    background: #999;
    transition: all 0.5s;
    border-radius: 20px;
}

.skip:hover .skip2{
    top:0;
}

.text1{
    position: absolute;
    top: 100px; left: 100px;
    width: 200px; height: 50px;
    line-height:  50px;
    color: white;
    font-size: 2rem;
    border: 0px solid white;
    animation: text1_ani 3s; 
}

@keyframes text1_ani {
    0% {opacity: 0; top:200px;}
    100% {opacity: 1; top:100px;}
}

/* opacity: 투명도 // 0: 안보임 1: 100%보임 */
/* 0% 시작 100% 끝 */

.car{
    position: absolute;
    top: 50px; right: 0;
    width: 200px; height: 100px;
    border: 0px solid white;
    animation: car_ani 5s infinite;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}

/* animation: 움직임
    opacity: 0; // 0이면 보이지x. 1이면 보임
    animation-fill-mode: forwards; // 애니메이션 끝나고 마지막장면 고정
    animation-iteration-count: 동작 반복 횟수
     */

@keyframes car_ani {
    0% {opacity:0; left:100%;}
    20% {opacity:1; left:55%}
    100% {opacity: 1; left:98%;} 
}

.car img{
    width: 100%; height: 100%;
}

.up{
    position: absolute;
    top: 93%; left: 95%;
    width: 50px; height: 50px;
    border: 1px solid white;
    background: url(../img/svg3.svg);
    background-size: 100% 100%;
}

/* background로 이미지삽입 -> 위에 텍스트 작성 가능 */

.up:hover{
    animation: up_ani 2s linear infinite;
    /* linear: 움직이는 속도 일정하게 */
}

@keyframes up_ani{
    0% {top: 93%;}
    25% {top: 91%;}
    50% {top: 90%;}
    75% {top: 91%;}
    100% {top: 93%;}
}

/* keyframe 위치%와 물체의 위치% 조절하기  */


.my{
    position: relative;
    top: 0; left: 0;
    width: 90px; height: 40px;
    border: 1px solid white;
    margin-top: 50px;
    cursor: pointer;
    background: black;

    /* padding: 10px; */
    /* padding: 안쪽 여백 -> 크기증가 */
}

.my p{
    width: 100%; height: 100%;
    text-align: center;
    line-height: 40px;
}

.my:hover ul{
    left:0;
}

.my ul{
    position: absolute;
    width:100%;
    top: 100%; left: -110%;
    border: 1px solid white;
    transition: 0.5s;
    background: #999;
}

.my ul li:hover{
    background: orange;
}


.my ul li{
    width: 100%; height: 100%;
    line-height: 40px;
    text-align: right;
    padding-right: 5px;
    border-bottom: 1px dashed #999;
}

.bigBox{
    width: 500px; height: 300px;
    border: 1px solid black;
    background: white;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;

    /* space-around: 각 박스의 주변에 마진을 생성
       space-evenly: 박스를 일정간격으로 배열  */

    align-items: center;
3
    /* align-items: cetner // 위아래 여백 간격 자동조절 */

}

.bigBox div{
    position: relative;
    top: 0; left: 0;
    border: 0px solid black;
    width: 100px; height: 200px;
    line-height: 240px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.bigBox div p{
    width: 100%; height: 100%;
}

.bigBox div p img{
    width: 100%; height: 100%;
}

.bigBox div:hover div{
    top: 0%;
}
.bigBox div div{
    position: absolute;
    top: 100%; left: 0;
    border: 0px solid black;
    width: 100%; height: 100%;
    line-height: 50px;
    text-align: center;
    color: black;
    background: white;
    opacity: 0.5;
}


.menu{
    /* position: absolute; */
    /* width 설정없이 aboslute 적용시 글자길이에 맞게 width 자동조절  */

    width: 100%; height: 50px;
    border: 0px solid black;
    display: flex;
    justify-content: center;
}

.menu li{
    border: 0px solid green;
    margin-right: 20px;
    line-height: 50px;
    cursor: pointer;
}

.menu li:hover{
    color: red;
}

.menu li:first-child{
    margin-right:200px;
    font-size: 2rem;
}


.msg{
    width:100%; height: 30px;
    background: orange;
    display: flex;
    justify-content: center;
}

.msg p{
    border: 0px solid black;
}

.msg span{
    font-size: 1rem;
}
.msg p:first-child{
    margin-right: 100px;
}

.msg p:last-child{
    color: purple;
    cursor: pointer;
}

.main{
    width: 1024px;
    border: 0px solid blue;
    margin: 20px auto;
}

.main .msg1{
    width: 100%; height: 350px;
    display: flex;
    justify-content: space-between;
}

.main .msg1 li{
    width: 48%;
    border: 0px solid orange;
}

.main .msg1 li:first-child{
    background: url(../img/img배경.jfif) no-repeat;
    background-size: 100% 100%;
}
.main .msg1 li:nth-child(2){
    background: url(../img/img배경3.jfif) no-repeat;
    background-size: 100% 100%;
}

.main .msg1 p:nth-child(1){
    margin-top: 100px;
    font-size: 1.3rem;
    text-indent: 200px;
}

.main .msg1 p:nth-child(2){
    font-size: 2rem;
    line-height: 70px;
    font-family: 견고딕;
    font-family: 'PyeongChangPeace-Bold';
    text-indent: 100px;
}

.main .msg2{
    width:100%; height: 350px;
    display: flex;
    justify-content: space-between;
}
.main .msg2 li{
    width: 48%;
    border: 0px solid orange;
}

.main .msg2 li:first-child{
    background: url(../img/img배경4.jfif) no-repeat;
    background-size: 100% 100%;
}
.main .msg2 li:nth-child(2){
    background: url(../img/img배경2.jfif) no-repeat;
    background-size: 100% 100%;
}

.main .msg2 p:nth-child(1){
    margin-top: 100px;
    font-size: 1.3rem;
    text-indent: 50px;
}

.main .msg2 p:nth-child(2){
    font-size: 2rem;
    line-height: 70px;
    font-family: 견고딕;
    font-family: 'HakgyoansimGaeulsopungB';
    text-indent: 170px;
}

.main .msg2 p:nth-child(3){
    font-size: 1.5rem;
    text-indent: 280px;
}