*{
    margin: 0;  padding: 0;
    box-sizing: border-box;
    /* border-box: padding으로 늘어난 크기를 테두리에 다시 맞춤 */
    list-style: none;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

a{ color: black;}

.title{
    font-size: 1.5rem;
    line-height: 70px;
}

.wrap{
    width: 100%; height: 2000px;
    border: 0px solid black;
}

.wrap nav{
    width: 100%; height: 50px;
    border: 0px solid blue;
    display: flex;
    justify-content: space-between;
}

.wrap nav div{
    flex: 1; height: 50px;
    /* flex:1 // 너비설정없이 태그 균등분배 */
    border: 0px solid black;
    text-align: center;
    line-height: 50px;
}

.wrap .sec{
    width: 100%;
    margin-top: 30px;
    border: 0px solid black;
    display: flex;
}

/* 경제 메뉴를 클릭하면 보여지는 Section(#sec1) */
#sec1{
    display: none;
}

#sec1 .sec1Bg{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: black;
}

#sec1 .sec1Bg video{
    width: 100%;
    /* 이미지와 달리 비디오는 너비만 설정
        높이까지 설정하면 찌그러짐 */
    min-width: 1500px;
    /* 최소너비보다 작아지면 동영상 크기도 작아짐 */
}


#sec1 .sec1Bg .sec1Bg_skip{
    position: absolute;
    bottom: 50px; left: 50%;
    color: white;
}

/* 문화 메뉴를 클릭하면 보여지는 Section(#sec2) */
#sec2{
    display: none;
}

#sec2 .sec2Bg{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: green;
}










.wrap .sec> div{
    width: 10%;
    border: 1px solid orange;
    position: relative;
    top: 0; left: 0;
}
/* >: 자식선택자 바로 하위 태그에만 설정적용 */

.wrap .sec div p{
    width: 100%; height: 50px;
    line-height: 50px;
    text-align: center;
}

.wrap .sec .box1 .sleepBox{
    position: absolute;
    top: 50px; left: 0;
    width: 1000%; 
    border: 3px solid blue;
}

.wrap .sec .box1{
    width: 10%;
}

.wrap .sec .box1 .sleepBox .big{
    position: relative;
    top: 0; left: 0;
    width: 1000px;
    height: 500px;
    border: 0px solid black;
    overflow: hidden;
}

.wrap .sec .box1 .sleepBox .big .img5{
    position: absolute;
    top: 0; left: 0;
    width: 6000px;
    height: 100%;
    border: 0px solid green;
    display: flex;
    animation: img5_ani 20s linear infinite;
}

@keyframes img5_ani{
    0% {left: 0px;}
    2% {left: -1000px;}
    20% {left: -1000px;}
    22% {left: -2000px;}
    40% {left: -2000px;}
    42% {left: -3000px;}
    60% {left: -3000px;}
    62% {left: -4000px;}
    80% {left: -4000px;}
    82% {left: -5000px;}
    100% {left: -5000px;}
}

/* animation 동작하기 위해서는 position 위치 설정 필수 */

.wrap .sec .box1 .sleepBox .big .img5 li{
    width: 1000px; height: 100%;
    border: 3px solid red;
    font-size: 3rem;
}

.wrap .sec .box1 .sleepBox .big .img5 li div{
    width: 700px;
    text-align: right;
    margin: 50px auto;
    font-size: 2rem;
}

.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(1){
    background: url(../img/강릉교통2.png);
    background-size: 100% 100%;
}

.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(2){
    background: url(../img/강릉관광지1.webp);
    background-size: 100% 100%;
}
.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(3){
    background: url(../img/강릉관광지2.webp);
    background-size: 100% 100%;
}
.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(4){
    background: url(../img/강릉숙소2.jpg);
    background-size: 100% 100%;
}
.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(5){
    background: url(../img/강릉카페3.jpg);
    background-size: 100% 100%;
}
.wrap .sec .box1 .sleepBox .big .img5 li:nth-child(6){
    background: url(../img/강릉교통2.png);
    background-size: 100% 100%;
}

.wrap .sec .box2 .bus{
    width: 1000%; 
    border: 1px solid green;
    /* margin-left: -100%;*/
    position: absolute;
    top: 50px; left: -101.5%;
}

.wrap .sec .box1:hover div{
    display: block;
}

.wrap .sec .box{
    background: white;
    /* display: none; */
    height: 700px;
    padding: 30px;
    /* padding: 들여쓰기 기능을 가짐
               but 박스 크기도 같이 늘어남
               -> 박스크기 지정으로 크기변동 막을 수 있음 */
}

/* .wrap .sec .box1{
    display: block;
}

.wrap .sec .box2{
    display: block;
} */

.wrap .sec .box2{

}

.wrap .sec .box2 .box2Title{
    width: 80%; height:  50px;
    background: black;
    display: flex;
    justify-content: center;
    line-height: 50px;
    text-indent: 50px;
}

.wrap .sec .box2 .box2Title div{
    color: white;
}

.wrap .sec .box2 .box2Title small{
    color: red;
}

.wrap .sec .box2 .both{
    position: relative;
    top: 0; left: 0;
    margin: 30px auto;
    width: 80%; height: 70px;
    border: 1px solid orange;
    display: flex;
    justify-content: space-between;
}

.wrap .sec .box2 .both div:nth-child(1){
    width: 49%;
    background: pink;
}

.wrap .sec .box2 .both div:nth-child(2){
    width: 49%;
    background: plum;
}

.wrap .sec .box2 .both .one{
    position: absolute;
    top: -15px; left: 40%;
    width: 100px; height: 100px;
    background: purple;
    border-radius: 100%;
    /* 원 안에 배경 그림넣기 */
    background: url(../img/강릉관광지3.webp);
    background-size: 100% 100%;
}

.sec .box2 .box2Img5{
    width: 80%; height: 300px;
    border: 0px solid red;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.sec .box2 .box2Img5 ul{
    width: 18%; height: 100%;
    border: 0px solid black;
}

.sec .box2 .box2Img5 ul li{
    width: 100%; height: 30px;
    border: 0px solid blue;
    line-height: 30px;
    text-indent: 20px;
    overflow: hidden;
}

.sec .box2 .box2Img5 ul li:nth-child(1){
    height: 180px;
    text-align: center;
    text-indent: 0px;   
    border-radius: 100%;
}

.sec .box2 .box2Img5 ul li img{
    width: 90%; height: 90%;
    margin-top: 10px;
    border-radius: 100%;
    transition: 0.5s;
}

.sec .box2 .box2Img5 ul li img:hover{
    transform: scale(1.5);
}

.wrap .smallImg5{
    position: absolute;
    top: 950px; left: 50%;
    transform: translateX(-50%);
    width: 600px; height: 150px;
    border: 10px solid teal;
    display: flex;
    justify-content: space-between;
}

.wrap .smallImg5 li{
    width: 100%; height: 100%;
}

.wrap .smallImg5 li img{
    width: 100%; height: 100%;
}

/* 전체화면을 검정으로 하고
    큰 그림이 나오는 아이디 */
#full{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

#fullClose{
    position: absolute;
    top: 100px; right: 100px;
    width: 50px; height: 50px;
    border: 1px solid black;
}

.fullImg{
    position: absolute;
    top: 100px; left: 100px;
    width: 500px; height: 200px;
    border: 1px solid #ccc;
}

.fullImg img{
    width: 100%; height: 100%;
}


section{
    display: none;
}

#sec0{
    display: none;
}

#sec1{
    display: block;
}